@import "null";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

.wrapper {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 20px;
  max-width: 1080px;
  padding: 10px;
  margin: 50px auto 0 auto;
}



//=================================================================

.content {
  padding: 40px;

}

.content__title {
  font-weight: 700;
  font-size: 32px;
  color: #000;

}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}


.content__inner {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search-block {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

//=================================================================