@import "null";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

.wrapper {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 20px;
  max-width: 1080px;
  padding: 10px;
  margin: 50px auto 0 auto;
}

//========HEADER=========================================================
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  .headerLeft a {
    display: flex;
    align-items: center;
    gap: 15px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: #9d9d9d;
    }
  }
}

.headerRight {
  display: flex;
  gap: 30px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-weight: 600;
      font-size: 14px;
      color: #5c5c5c;
    }
  }
}

//=================================================================

.content {
  padding: 40px;

}

.content__title {
  font-weight: 700;
  font-size: 32px;
  color: #000;

}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  border: 2px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  width: 220px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s;

  img {
    align-self: center;
    margin-bottom: 15px;
  }

  h5 {
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.06);
  }
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #bdbdbd;
  }


}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__info-text {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
  margin-bottom: 5px;

}

.card__info-price {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.button {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #fff;

}

.content__inner {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search-block {
  display: flex;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  width: 100%;
  height: 100%;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  box-shadow: -10px 4px 24px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }
}

.cart__item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.cart__info {
  margin-right: 20px;

  & p:first-child {
    margin-bottom: 5px;
    font-size: 16px;
  }

  & p:last-child {
    font-weight: 700;
    font-size: 14px;
    color: #000;
  }
}

.remove__btn {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cart-item-img {
  height: 70px;
  width: 70px;
  background-size: contain;
  background-position: 0 10px;
  background-repeat: no-repeat;
}

//=================================================================
.items {
  flex: 1;
  overflow: auto;
  margin-bottom: 40px;
}

.cartTotalBlock {


  ul {
    margin-bottom: 20px;
  }

  li {
    display: flex;
    align-items: flex-end;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }

  span {
    font-size: 16px;
    color: #000;
  }

  p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
  }

  a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    padding: 18px 0;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #9dd458;
    border-radius: 18px;
    transform: background-color;
    position: relative;

    &:hover {
      background-color: lighten(#9dd458, 5%);

      svg {
        right: 25px;
      }
    }

    svg {
      position: absolute;
      right: 30px;
      transition: right 0.2 ease-in-out;


    }
  }
}


//=================================================================