@import "null";

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}

.wrapper {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
  background: #fff;
  border-radius: 20px;
  max-width: 1080px;
  padding: 10px;
  margin: 50px auto 0 auto;
}

//========HEADER=========================================================
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;

  .headerLeft a {
    display: flex;
    align-items: center;
    gap: 15px;

    h3 {
      font-weight: 700;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: #9d9d9d;
    }
  }
}

.headerRight {
  display: flex;
  gap: 30px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    span {
      font-weight: 600;
      font-size: 14px;
      color: #5c5c5c;
    }
  }
}

//=================================================================

.content {
  padding: 40px;

}

.content__title {
  font-weight: 700;
  font-size: 32px;
  color: #000;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.card {
  border: 2px solid #f3f3f3;
  border-radius: 40px;
  padding: 30px;
  width: 220px;
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
    margin-bottom: 15px;
  }

  h5 {
    font-size: 14px;
    color: #000;
    margin-bottom: 15px;
  }
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: #bdbdbd;
  }


}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__info-text {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
  margin-bottom: 5px;

}

.card__info-price {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

.button {
  border: 1px solid #f2f2f2;
  border-radius: 8px;
  background: #fff;

}